body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

header{
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 1em;
    margin-left: 20em;
}

nav{
    align-items: center;
}

.nav-but{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
}
.nav-but a {
    text-decoration: none; /* убираем подчеркивание */
    color: black;
    font-size:larger; /* Сделать условие типо если телефон, то xx-large */
}

a.main-but {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.1em;
}

#ship-logo{
    position: absolute;
    top: 1em;
    right: 0;
    bottom: 0;
    left: 6em;
}

.project-name{
    font-size: 60px;
    font-weight: 900;
    margin-left: 6vw; 
}

.t-gr-name{
    color: rgb(189, 189, 189);
    font-size:20px;
    margin-top: 1em;
    font-weight: 300;
}

.main-items{
    margin-top: 2em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;  /* Распределяет элементы по контейнеру */
}

p {
    margin: 0; /* Убирает внешние отступы у параграфа */
}

.about-us{
    display: block;
    max-width: 60%;
}

.about-us p{
    color: rgb(0, 0, 0);
}

.about-us a:visited{
    color: black;
}

.about-us img{
    height: 600px;
}

.about-us a{
    font-size:small;
    text-decoration: none; /* убираем подчеркивание */
}

main{
    display: block;
    flex-wrap: wrap;
    margin-left: 6%;
}

main > div {
    margin-top: 6em; /* Задает расстояние сверху между блоками внутри <main> */
  }

main div{
    display: flex;
}

.main-info-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
}

.main-info-img img:first-child{
    width: 53%;
    height: auto;
}

.main-info-img img{
    width: 43%;
    height: auto;
}

.main-info-text{
    display: block;
    font-weight: 300;
    max-width: 33%;
    margin-bottom: auto;
    margin-left: 2%;
}

.main-info-text a{
    font-size:small;
    font-weight: 400;
    text-decoration: none; /* убираем подчеркивание */
    color: black;
}

.main-info-text a:visited{
    color: black;
}

.main-info-text p:first-child{
    font-size: 64px;
    color: gray;
    margin-bottom: 8%;
}

.main-info-text p{
    font-size: 16px;
    line-height: 25px;
    margin-top: 4%;
}