body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    display: flex;
    justify-content:end;
    align-items: center;
    margin-top: 3em;
    margin-right: 7em;
}

nav{
    align-items: center;
}

.nav-but{
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
}
.nav-but a {
    text-decoration: none; /* убираем подчеркивание */
    color: black;
    font-size:large; /* Сделать условие типо если телефон, то xx-large */
}

a.main-but {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.1em;
}

#ship-logo{
    position: absolute;
    top: 2em;
    right: 0;
    bottom: 0;
    left: 6em;

}

main{
    display: flex;
    justify-content: end;
    
}

