body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
}

button{
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    margin-left: 20em;
}

nav {
    margin-left: auto;
    align-items: center;
    justify-content: center;
}

.nav-but {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(0, 0, 0, 0);
}

.nav-but a {
    text-decoration: none; /* убираем подчеркивание */
    color: black;
    font-size: 16px; /* Сделать условие типо если телефон, то xx-large */
    line-height: 24px;
}

.profile{
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.profile i{
    font-size: 32px;
}

.profile button{
    padding: 0;
    border: 0;
}

a.main-but {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.1em;
}

#ship-logo {
    position: absolute;
    top: 1em;
    right: 0;
    bottom: 0;
    left: 6em;
    width: 100px;
}

.project-name {
    font-size: 60px;
    font-weight: 900;
    margin-left: 6vw;
}

.t-gr-name {
    color: rgb(189, 189, 189);
    font-size: 20px;
    margin-top: 1em;
    font-weight: 300;
}

.main-items {
    margin-top: 2em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Распределяет элементы по контейнеру */
}

p {
    margin: 0; /* Убирает внешние отступы у параграфа */
}

.about-us {
    display: block;
    width: 60%;
}

.about-us p {
    color: rgb(0, 0, 0);
}

.about-us img {
    height: auto;
    width: 100%;
}

.about-us a {
    color: black;
    font-size: small;
    text-decoration: none; /* убираем подчеркивание */
}

main{
    display: block;
    flex-wrap: wrap;
    margin-left: 6%;
    margin-right: 6%;
}

main>div {
    margin-top: 6em; /* Задает расстояние сверху между блоками внутри <main> */
}

main div {
    display: flex;
}

.main-info-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50%;
}

.main-info-img img:first-child {
    width: 53%;
    height: auto;
}

.main-info-img img {
    width: 43%;
    height: auto;
}

.main-info-text {
    display: block;
    font-weight: 300;
    max-width: 50%;
    margin-bottom: auto;
    margin-left: 2%;
}

.main-info-text a {
    font-size: small;
    font-weight: 400;
    text-decoration: none; /* убираем подчеркивание */
    color: black;
}

.main-info-text p:first-child {
    font-size: 64px;
    color: #BDBDBD;
    margin-bottom: 5%;
    line-height: 64px;
}

.main-info-text p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 4%;
}

.main-goals {
    display: block;
}

.main-goals p:first-child {
    font-weight: 300;
    font-size: 64px;
    color: #BDBDBD;
}

.goals {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goals div {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    max-width: 45%;
}

.goals div p:first-child {
    font-weight: 900;
    font-size: 200px;
    color: #F2F2F2;
}

.wide-count {
    margin-left: 4%;
}

.main-events {
    display: block; /* Чтобы контейнер подстраивался по размерам содержимого */
position: relative;
}

.main-events p:first-child {
    font-weight: 300;
    font-size: 64px;
    color: #BDBDBD;
}

.main-events div {
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-events button{
    position: absolute;
    right: 0;
    font-size: 12px;
    font-weight: 400;
    width: 20%;
    height: 4em;
    border: 0;
    background-color: #333333;
    border-radius: 17px;
    color: white;
    margin-top: 1%;
}


#event1 {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#event2 {
    width: 50%;
    height: 100%;
}

#event3 {
    width: 24.5%;
    height: 100%;
}

#event4 {
    width: 41%;
    height: 100%;
}

#event5 {
    width: 33%;
    height: 100%;
}

.first-main-event{
    position: relative;
    display: inline-block;
    width: 49%;
    height: 100%;
}

.t-in-picture{
    display: block;
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left:10%;
}

.t-in-picture p:first-child{
    font-weight: 700;
    font-size: 250%;
    line-height: 55px;
    color: white;
    padding-bottom: 3%;
}

.t-in-picture a{
    color:white;
    font-weight: 200;
    font-size: 12px;
    text-decoration: none; /* убираем подчеркивание */
}

.color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    border-radius: 17px;
    opacity: 80%;
    background-color: rgba(51, 51, 51, 1);
}

.main-connection{   
    display: block;
    justify-content: space-between;
    padding-bottom: 15%;
}

.main-connection form{
    width: 100%;
    position: relative;
}

.main-connection form div{
    display: block;
}

.main-connection textarea,input{
    width: 40%;
    border: 0;
    background-color: #F3F3F3;
    margin: 5px;
}

.main-connection input{
    height: 35px;
}

.main-connection textarea{
    width: 39%;
    height: 80px;
}

.main-connection textarea,input::placeholder{
    padding-left: 1em;
    padding-top: auto;
}

.main-connection input:focus::placeholder{
    transition: color 0.5s ease;
    transform-origin: left;
    transform: scaleX(0);
}

.main-connection input:focus::placeholder{
    color: transparent;
    transform: scaleX(1);
}

.main-connection img{
    position: absolute;
    left: 45%;
    width: auto;
    height: 100%;
}

.main-connection button{
    position: absolute;
    width: 20%;
    height: 4em;
    border: 0;
    background-color: #333333;
    border-radius: 17px;
    color: white;
    margin-top: 3%;
}

.main-connection p:first-child{
    font-weight: 300;
    font-size: 64px;
    color: #BDBDBD; 
}

.footer-container{
    margin-top: auto;
}

.footer-main{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #2C2C2C;
    position:static;
    bottom: 0;
    color: white;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 300;
    padding-top: 4em;
    padding-bottom: 2em;
}

.footer-main a{
    color:white;
}

.footer-main-img{
    margin-top: 2%;
    font-weight: 900;
    font-size: 20;
}

.footer-main img{
    width: 80px;
    height: auto;
}

.footer-main-info{
    display: block;
}

.footer-main-info p:first-child{
    margin: 1em 0;
    font-size: 16px;
    font-weight: 700;
}

.footer-main-info p{
    margin: 1em 0 2em 0;
}

.footer-main-info a{
    text-decoration: none; /* убираем подчеркивание */
}



.footer-main-contact{
    display: block;
}

.footer-main-contact div{
    display: flex; align-items: center;
}

.footer-main-contact i{
    margin-right: 1em;
}

.footer-main-contact p:first-child{
    margin: 1em 0 0 0;
    font-size: 16px;
    font-weight: 700;
}

.footer-main-contact p{
    margin: 1em 0 2em 0;
}

.footer-main-contact a{
    text-decoration: none; /* убираем подчеркивание */
}

.footer-main-social{
    display: block;
    margin-right: 10%;
}

.footer-main-social i{
    font-size: 17px;
    margin-right: 1em;
}

.footer-main-social p:first-child{
    margin: 1em 0;
    font-size: 16px;
    font-weight: 700;
}

.footer-main-social p{
    margin: 1em 0 2em 0;
}

.footer-main-social a{
    text-decoration: none; /* убираем подчеркивание */
}

footer{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    border-top: 1px solid rgb(63, 63, 63);
    background-color: #2C2C2C;
    color: #C8C8C880;
    justify-content: center;
    font-size: 12px;
    color: rgb(200, 200, 200, 0.5);
}


/* 
█████████████████████████
███──█────█───█─██─█─██─█
██─█─█─██─█─███─██─█─██─█
█─██─█─██─█─███─█──█────█
█─██─█─██─█─███──█─█─██─█
█─██─█────█─███─██─█─██─█
█████████████████████████
*/

.login-page{
    background-image: url("../img/login_yacht.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.black-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(44, 44, 44, 0.8); /* Цвет и прозрачность затемняющего слоя */
    z-index: -1; /* Размещаем слой заднего плана под остальным содержимым */
}

.wrapper{
    display: flex;
    justify-content: center;
    width: 425px;
    height: 443px;
    background-color: rgba(217, 217, 217, 0.8);
    border-radius: 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.login-window{
    display: flex;
    align-items: stretch;
    justify-content: center;
    display: block;
    justify-content: center;
}

.login-window p:first-of-type{
    text-align: center;
    margin-top: 35px;
    font-weight: 700;
    font-size: 40px;
}

.input-box{
    width: 340px;
    height: 66px;
    margin: 30px 0;
}

.input-box input{
    width: 95%;
    height: 100%;
    border-radius: 17px;
    padding: 0;
    margin: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 5%;
    font-size: 16px;
}

.submit-button{
    margin: 40px 0 20px 0;
    display: flex;
    justify-content: center;
}

.submit-button button{
    height: 42px;
    width: 150px;
    border-radius: 17px;
    border: 0;
    background-color: rgba(51, 51, 51, 1);
    color: white;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.create-account{
    display: flex;
    justify-content: center;
}

.create-account a{
    color:rgb(0, 0, 0);
    text-decoration: none; /* убираем подчеркивание */
    font-weight: 400;
    font-size: 16px;
}

/*
█████████████████████████████████
█───█────███──█───█────█───█────█
█─███─██─██─█─█─███─██─█─███─██─█
█─███────█─██─█───█────█───█────█
█─███─██─█─██─█─███─████─████─█─█
█─███─██─█─██─█───█─████───██─█─█
█████████████████████████████████
*/

.main-gallery{
    color: black;
    font-size: 64px;
    font-weight: 900;
    line-height: 64px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-right: 0;
}

.main-gallery div{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

.main-gallery span{
    width: 210px;
    height: 260px;
    margin: 2%;
    margin-left: 0;
    overflow: hidden;
}

.main-gallery img{
    border-radius: 17px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.body-gal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
  }
.overlay img {
    display: block;
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
██████████████████████████████████████████████████████
█────█───█───█─██─█────█───█────█────█─██─██─██─█────█
█─██─█─███─███─██─█─██─██─██─██─█─██─█─██─██─██─█─██─█
█────█───█─███─█──█─█████─██────█────█─██─██─█──█────█
█─████─███─███──█─█─██─██─██─████─██─█─██─██──█─██─█─█
█─████───█─███─██─█────██─██─████─██─█─────█─██─██─█─█
██████████████████████████████████████████████████████
*/

.wrapper-reg{
    display: flex;
    justify-content: center;
    width: 425px;
    height: 541px;
    background-color: rgba(217, 217, 217, 0.8);
    border-radius: 17px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*
██████████████████████████
█────█────██────█───█─████
█─██─█─██──█─██─███─█─████
█─████────██────█───█────█
█─██─█─██──██─█─███─█─██─█
█────█────███─█─█───█────█
██████████████████████████
*/

.main-connection-page{
    margin: 0;
    margin-top: 10em;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-connection-page iframe{
    border-radius: 17px;
    width: 50%;
    height: auto;
    min-height: 625px;
    min-width: 800px;
}

.main-connection-page div{
    margin: 0;
    margin-left: 5%;
    display: block;
    align-items: center;
    margin-bottom: auto;
    position: relative;
    top: -32px;
}

.main-connection-page p{
    margin: 1em 0;
}

.main-connection-page p:first-child{
    font-size: 64px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.main-connection-page i{
    position: relative;
    top: 5px;
    font-size: 24px;
    margin-right: 5px;
}

.main-connection-page button{
    font-size: 12px;
    font-weight: 400;
    width: 20%;
    height: 4em;
    border: 0;
    background-color: #333333;
    border-radius: 17px;
    color: white;
    margin-top: 1%;
    width: 228px;
    height: 70px;
    margin-top: 3em;
}